.burger {
  --widthBurger: 21px;
  --heightBurger: 14px;
  --size-line: 2px;
  --color: var(--color-green-1);

  width: var(--widthBurger);
  height: var(--heightBurger);
  position: relative;
  cursor: pointer;
  background-color: transparent;
  border: none;

  @include mobile-s {
    --widthBurger: 18px;
    --heightBurger: 12px;
  }

  // .burger__line

  &__line {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%) scale(1);
    height: var(--size-line);
    background-color: var(--color);
    transition: transform 0.3s ease-out;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: var(--size-line);
    background-color: var(--color);
    transition: transform 0.3s ease-out, top 0.3s ease-out;
  }

  &::before {
    top: 0;
  }

  &::after {
    top: calc(100% - var(--size-line));
  }

  // .burger_active
  &_active {
    .burger__line {
      transform: translateY(-50%) scale(0);
    }

    &::before {
      top: 50%;
      transform: rotate(-45deg);
    }

    &::after {
      top: 50%;
      transform: rotate(45deg);
    }
  }
}
