.pay {
  padding-block: 60px;
  background-color: var(--second-bg-color);

  @include tablet {
    padding-block: 40px;
  }

  @include mobile-s {
    padding-block: 30px;
  }

  // .pay__title

  &__title {
    margin-bottom: 48px;

    @include tablet {
      margin-bottom: 30px;
    }

    @include mobile-s {
     margin-bottom: 20px;
    }
  }

  // .pay__list

  &__list {
    column-gap: 30px;

    @include tablet {
      column-gap: 20px;
    }

    @include mobile {
      column-gap: 34px;
    }

    @include mobile-s {
      --gridColumns: 1;
      justify-items: center;
    }
  }

  // .pay__item

  &__item {
    max-width: 410px;
    width: 100% ;
    color: var(--color-light);

    @include tablet {
      max-width: 300px;
    }

    @include mobile {
      max-width: 207px;
    }

    @include mobile-s {
     width: 100%;
    }
  }

  // .pay__option

  &__option {

    // .pay__option_pay

    &_pay {
    }
  }
}